body {
	background-color: #000000;
	background: "pinceaux2bis.jpg";
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.films1 {	
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: none;
	color: #CC6699;
	text-decoration: none;
}
.films2 {	
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #DFDFDF;
	text-decoration: none;
}
.titre {		
	font-family: Impact, Verdana, Helvetica, Arial, sans-serif;
	font-size: 32px;
	color: #003333;
	text-decoration: none;
	font-weight: ;
}
.sommaire {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.sommaire a:hover{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	Text-Shadow: white 10px 8px 2px, white 10px 8px 2px;
	text-decoration: none;
}
.sommairefixe {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	Text-Shadow: white 10px 8px 2px, white 10px 8px 2px;
	text-decoration: none;
}
.sommaire2 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.sommaire2 a:hover {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #7f7f7f;
	Text-Shadow: white 10px 8px 2px, white 10px 8px 2px;
	text-decoration: none;
}
.marge_films {
margin-left: 3em;
}
.marge_titre {
margin-left: 1.5em;
}
.marge_sommaire {
margin-left: 0.7em;
}
.liste {		
	font-family: Impact, Verdana, Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #003333;
	text-decoration: none;
}